# =========================================================
# .NET
# =========================================================

**/bin/
**/obj/

# =========================================================
# IDE
# =========================================================

.vs/
.vscode/
.idea/

# =========================================================
# Git
# =========================================================

.git/
.gitignore

# =========================================================
# User secrets / local configuration
# =========================================================

.env
.env.*
**/appsettings.Local.json

# =========================================================
# Logs
# =========================================================

*.log

# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db